.button{
    color: white;
    margin-top: 2rem;
    font-size: x-large;
    display: none;
}
#check{
    display: none;
}
@media  screen and (max-width:576px){
    .navlinks{
        position: absolute;
        top: 32%;
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        background-color: blue;
        color: white;
        line-height: 3;
        height: 42vh;
        padding: 18px 0;
    }
    .navlinks .btn{
        background-color: white;
        color: blue;
    }
    .button{
        display: block;
        margin-right: 1rem;
        font-size: 30px;
        margin-top: 1.5rem;

    }
    #check:checked~.navlinks{
        display: block;
    }
    .logo img{
        margin: 0;
        float:right;
        width: 90%;
    }
    .heroSection{
        padding: 90px 20px;
        height: 100%;
        width: 100%;
    }
    .heroContainer{
        width: 100%;
    }
    .content h2 {
        width: 100%;
        font-size: 30px;
    }
    .content p{
        width: 100%;
    }
    .content input{
        width: 100%;
        height: 70px;
    }
    .number{
        gap: 2rem;
        text-align: center;
        justify-content: center;
    }
    .card-1{
        padding: 30px 50px;
    }
    .video iframe{
        width:100%;
        height: 200px;
        /* margin-right: -5rem; */
        
    }
    .about .video{
        width: 100%;
    }
    .parallax-1{
        width: 100%;
        background-size:cover;
    }
    .aboutcard-2 .cardHeader img{
        width: 100%;
    }
    .aboutcard-2 .cardBody-1 img{
        width: 100%;
    }
    .aboutcard-2{
        display:initial
    }
    .aboutcardcontainer-2{
        padding: 60px;
    }
    .endcardsection{
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .end{
        flex-direction: column;
    }
    .endcard{
        padding: 10px 0 0;
    }
    nav h2{
        margin-top :-0.0rem;
    
    }
    nav .button{
        margin-top: -0.0rem;
    }
    nav{
        overflow: hidden;
        width: 100%;
        padding: 0 20px 0;
    }
}
